
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Happy+Monkey&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tilt+Neon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    box-sizing: border-box;

}

html,body{
    width: 100%;
    height: 100%;
    background-color: #dc2f02;

}
#home{
    height: 80vh;
    width: auto;
    background-color: #dc2f02;
}

.nav img{
    margin-left: 15px;
    width: 10%;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #dc2f02;
    border-radius: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; /* Ensure it's on top of other content */
}

.nav span {

    font-size: 1.5rem;
    margin-right: 30px;
}

.nav ul{
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap:2.5rem;
    
}

.nav ul li{
    list-style: none;
    font-size: 1.25rem;

    
}



.intro{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.intro h1{
    color: #fff;
    font-size: 20rem;
    z-index: 2;
    margin-top: 13%;
    font-weight: 900;
}

@keyframes oscillate {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px); /* Adjust the distance as needed */
    }
}

.ornage-animated1{
    position: absolute;
    width: 12%;
    top:19%;
    left: 2%;
    border-radius: 50%;
    animation: oscillate 2s infinite;
}

.ornage-animated2{
    position: absolute;
    width: 15%;
    top:18%;
    left: 83%;
    border-radius: 50%;
    animation: oscillate 2s infinite;
}

.fanta{
    position: absolute;
    width: 60vh;
    aspect-ratio: 1/1;
    top:25%;
    z-index: 2;
    
    
}

.orange-slice{
    position: absolute;
    width: 12%;
    top:15%;
    left: 37%;
    z-index: 1;
}

.orange{
    position: absolute;
    width: 20%;
    z-index: 3;
    top:60%;
    right: 30%;
}

#content{

    height: 100vh;
    background-image: linear-gradient(#dc2f02, #d00000);
    display: flex;
}

.left{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.left svg{

    width: 70%;
    margin-top: 25vh;
    transform: rotateX(50deg);

}

.right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}

.right-content{
    height: auto;
    width: fit-content;
    padding: 20px;
}

.right h1{
    color: #fff;
    font-size: 4.5rem;
    background-image: linear-gradient(to right, #ffffff, #f4acb7); /* Adjust colors as needed */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.right p{
    color: #fff;
    font-size: 1.15rem;
    margin-top: 2.5%;
}

#buy{
    height: auto;
    background-image: linear-gradient(#d00000, #9d0208);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}


.special{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d00200;
    overflow: hidden;
}

.special-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content1{
    position: absolute;
    left:60%;
    top:-10%;
    font-size: 2rem;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
   
}

.content1 span{
    margin-top: 5px;
}

.content1 span img{
    width: 30px;
    margin-left: 7px;
    
}



.content2{
    position: absolute;
    left:8%;
    top:25%;
    font-size: 2rem;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.loader {
    position: relative;
    margin: auto;
    box-sizing: border-box;
    background-clip: padding-box;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
    -webkit-mask: linear-gradient(rgba(24, 24, 24, 0.2), rgba(24, 24, 24,0.9) 90%);
    transform-origin: 50% 60%;
    transform: perspective(200px) rotateX(66deg);
  }
  
  .loader:before, .loader:after {
    content: "";
    position: absolute;
    margin: -4px;
    box-sizing: inherit;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    opacity: 0.05;
    border: inherit;
    border-color: transparent;
    animation: spinner-spin 0.8s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1.2s linear infinite;
  }
  
  .loader:before {
    border-top-color: #66e6ff;
  }
  
  .loader:after {
    border-top-color: #f0db75;
    animation-delay: 0.3s;
  }
  
  @keyframes spinner-spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spinner-fade {
    20% {
      opacity: 0.1;
    }
  
    40% {
      opacity: 1;
    }
  
    60% {
      opacity: 0.1;
    }
  }
   

.btn {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 8px;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .btn > * {
    display: inline-block;
    transition: all ease-in-out .5s;
  }
  
  .btn__visible {
    padding: 1.2rem 3rem;
    text-align: center;
  }
  
  .btn__invisible {
    width: 100%;
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
  }
  
  .btn:hover {
    background-image: linear-gradient(160deg, #f093fb 0%, #f5576c 100%);
  }
  
  .btn:hover .btn__visible {
    transform: translateY(100%);
  }
  
  .btn:hover .btn__invisible {
    top: 0;
  }
  
  .btn:focus {
    outline: none;
  }
  

.buy-heading{
    width: 100%;
    text-align: center;
}

.buy-heading h1{
    font-size: 2.75rem;
    color: #fff;
    background-image: linear-gradient(to right, #ffffff, #f4acb7); /* Adjust colors as needed */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.buy-heading p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #f0cdd2;
}

.buy-main{
    margin-top: 80px;
    height: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

.buy-main div{

    margin-top: 80px;
    position: relative;
    background-color: #fff;
    height: 65vh;
    width: 45vh;
    border-radius: 1.5rem;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.buy-main div h1{
    margin-top: 15rem;
    font-size: 2.5rem;
    color:#fff;
    

}

.buy-main div p{
    font-size: 1.5rem;
    color:#fff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    

}

.buy-main div img{

    position: absolute;
    width: 85%;
    top:-5%;
}

button {
 appearance: button;
 background-color: #1899D6;
 border: solid transparent;
 border-radius: 16px;
 border-width: 0 0 4px;
 box-sizing: border-box;
 color: #FFFFFF;
 cursor: pointer;
 display: inline-block;
 font-size: 15px;
 font-weight: 700;
 letter-spacing: .8px;
 line-height: 20px;
 margin: 10px;
 outline: none;
 overflow: visible;
 padding: 13px 19px;
 text-align: center;
 text-transform: uppercase;
 touch-action: manipulation;
 transform: translateZ(0);
 transition: filter .2s;
 user-select: none;
 -webkit-user-select: none;
 vertical-align: middle;
 white-space: nowrap;
}

button:after {
 background-clip: padding-box;
 background-color: #1CB0F6;
 border: solid transparent;
 border-radius: 16px;
 border-width: 0 0 4px;
 bottom: -4px;
 content: "";
 left: 0;
 position: absolute;
 right: 0;
 top: 0;
 z-index: -1;
}

button:main, button:focus {
 user-select: auto;
}

button:hover:not(:disabled) {
 filter: brightness(1.1);
}

button:disabled {
 cursor: auto;
}

button:active:after {
 border-width: 0 0 0px;
}

button:active {
 padding-bottom: 10px;
}

  
#coke{
    background-image: linear-gradient(#f50202, #9d0208);
}

#pepsi{
    background-image: linear-gradient(#5675f3, #030e85);

}

#buy-fanta{
    background-image: linear-gradient(#e85d04, #dc2f02);

}

.brands{
    height: auto;
    width: auto;
}

.brands-main{
    position: relative;
    height: auto;
    width: auto;
}

.top{
    position: absolute;
    top:0%;
    width: 100%;
    height: 35vh;
    background-color: white;
    overflow: hidden;
    background-image: linear-gradient(#9d0208, #800105);

}


.center{
   
    width: 100%;
    height: 70vh;
    background-color: white;
    overflow: hidden;

}



.bottom{
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 35vh;
    background-color: white;
    overflow: hidden;
    background-image: linear-gradient(#800105,#6a040f );
}


.brands-main h1{


    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    width: 65%;
    font-size: 13rem;
    color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.top h1{

    
    top:95%;
}

.bottom h1{
    top:-5%;

}



.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    gap: 1.5rem;
}

.center-content div{

   
    width: 30%;
    height: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.center-content div:hover {
    transform: scale(1.05); /* Scale up the div on hover */
}



.coke-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/coke-logo.webp");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
}
.sprite-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/sprite-logo.webp");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
}
.minute-maid {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/Global\ MinuteMaid\ Logo.webp");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
}
.smart {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/smart.webp");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
}
.fanta-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/fanta-logo.webp");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
}
.diet {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/diet-coke.webp");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
}


.temp{
    height: 35vh;
    background-image: linear-gradient(#800105,#6a040f );

}

.about-us{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(#6a040f,#370617 );
    display: flex;
    justify-content: center;

}


.about-left{

    width: 70%;
    height: auto;
    margin-bottom: 40px;
}


.about-left h1{
    font-size: 3rem;
    color: #fff;
    margin: 20px;
}

.about-left-content{


    margin-top: 30px;
    width: auto;
    height: auto;
    
}


.about-left-content p{
    color: #fff;
    font-size: 1.25rem;
    margin: 20px;
}


.about-left-content span{
    color: #fff;
    margin: 20px;
    margin-left: 10px;
}

.about-right{
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-right img{
    width: 250px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 30px;

}

.footer{
    background-image: linear-gradient(#370617, #000000);
    height: 45vh;
    z-index: 1;
    position: relative;
    border-top: 3px solid white;
}

.footer-img{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    left:45%;
    top:-20%;
    z-index: 0;
}

.footer-img img{
    width: 90%;
}

.footer-content{
    width: 100%;
    height: auto;
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.find-us,
.privacy
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    color:white;
    font-size:1.5rem;
    gap:1.5rem;

}

.fa-brands.fa-instagram,
.fa-brands.fa-x-twitter,
.fa-brands.fa-discord,
.fa-brands.fa-linkedin{

    background-color: #2c2a30;
    padding: 10px;
    border-radius: 50%;
}

@keyframes oscillate1 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Adjust the distance as needed */
    }
  }


.fa-brands.fa-instagram:hover{
    background-color: #219ebc;
    animation: oscillate1 2s infinite;
    
}

.fa-brands.fa-x-twitter:hover{
    background-color: #219ebc;
    animation: oscillate1 2s infinite;

}
.fa-brands.fa-discord:hover{
    background-color: #219ebc;
    animation: oscillate1 2s infinite;

}
.fa-brands.fa-linkedin:hover{
    background-color: #219ebc;
    animation: oscillate1 2s infinite;

}

.privacy{
    gap:3rem;
    margin-top: 4vh;
}

.privacy p{
    font-size: 1.35rem;
}

.copyright{
    width:100%;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.copyright p{
    margin-bottom: 40px;
}

@media (max-width:1050px){

    .intro h1 {
        color: #fff;
        font-size: 15rem;
        font-weight: 900;
    }
    .fanta{
        width: 40vh;
        top:20%;
    }

    .orange{
        z-index: 3;
        top:40%;
        right: 28%;
    }

    .content1{
        position: absolute;
        left:67%;
        top:-10%;
        font-size: 1.25rem;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
       
    }

    .content2{
        position: absolute;
        left:4%;
        top:25%;
        font-size: 1.25rem;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    .brands-main h1{
        font-size: 8rem;
    }   

    .privacy p{
        font-size: 1rem;
    }
}


@media (max-width:800px){

    #home{
        height: auto;
    }

    #content{
        margin-top: 100px;
    }

    .intro h1 {
        color: #fff;
        font-size: 10rem;
        font-weight: 900;
    }

    .fanta{
        width: 30vh;
        top:12%;
    }

    .orange{
        z-index: 3;
        top:30%;
        right: 28%;
    }
    .orange-slice{
        
        width: 12%;
        top:10%;
        left: 37%;
        z-index: 1;
    }
    .content2{
        position: absolute;
        left:2%;
        top:25%;
        font-size: 1.15rem;
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    .brands-main h1{
        font-size: 5rem;
        left: 61%;
        
    }  
    .about-right img{
        width: 200px;
        aspect-ratio: 1/1;
    }
    .find-us p{
        font-size: 1.15rem;
    }

    .privacy p{
        font-size: 1rem;
        
    }
    .privacy{
        width: 80%;
    }

    .center-content div{
        background-size: 104px;
        height: 25vh;

    }



}

@media (max-width:500px){
    
    

    #home{
        margin-top: 100px;
    }

    .nav img{
        width: 20%;
        margin-top: 30px;
    }
    .nav{
        width: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .nav span{
        visibility: hidden;
    }

    .nav ul{
        width: 30%;
    }

    .nav ul li{
        font-size: 1rem;
    }

    .intro h1 {
        color: #fff;
        font-size: 6rem;
        font-weight: 900;
    }
    .fanta{
        width: 20vh;
        top:18%;
    }

    .orange-slice{
        
        width: 12%;
        top:16%;
        left: 37%;
        z-index: 1;
    }

    .right h1{
        font-size: 3rem;
    }
    .right p{
        font-size: 1rem;
    }
    .right-content{
        margin-right: 20px;
    }

    #content{
        margin-top: 0px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left{
        visibility: hidden;
        height: 0vh;
    }
    .right{
        width: 100%;
    }

    .content2{
        font-size: 1rem;
        width: 20%;
    }
    .content1{
        font-size: 1rem;
        width: 20%;
        left:80%;
    }
    .brands-main h1{
        font-size: 3.5rem;
        left: 55%;
        
    }  
    .about-us{
        height: 100vh;
        width: 100%;
        background-image: linear-gradient(#6a040f,#370617 );
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .about-left{
        width: 100%;
    }
    .footer-img{
        left: 37%;

    }
    .find-us {
        width: 100%;
    }

    .center-content{
        flex-direction: column;
        gap:1rem;
    }
    .center-content div{
        height: 9vh;
        background-size: 70px;
    }


    

}

@media (max-width:400px){


    #home{
        margin-top: 100px;
    }

    #content{
        margin-top: 0px;
        height: 125vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .brands-main h1{
        font-size: 3rem;
        left: 55%;
        
    }  

    .find-us p{
        font-size: 1rem;
    }

}
